.kaiju {
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.good {
  background-color: rgb(200, 255, 200);
}

.evil {
  background-color: rgb(255, 200, 200);
}
